$gray: #80808053;
$yellow: #FFD15B;
$font-family:"Anton";


body{
    background-color: $gray;     
}


#container-header{
    width: 100%;
    height: auto;

    .background-image {
        background-image: url('../../assets/logo/backgroundImg.jpeg'); /* Remplace 'chemin/vers/ton/image.jpg' par le chemin de ton image */
        background-size:cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: relative;
        .img-fluid{
            width: 200px;
            margin: 50px;
        }
    }

    #txt-header{
    color: $yellow;
    width: 60%;
    font-size: 40px;
    word-wrap: break-word;
    }

    #flex-header-txt{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 250px;
        justify-content: space-around;
    }

    .form-control{
        width: 1000px;
    }

    #search{
        display: flex;
    }

    .fas{
        position: absolute;
        transform: translateX(-100%);
        font-size: x-large;
        align-self: center;
        right: 200px; 

    }
}

#container-header::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray
}

.container{
    height: auto;

    #button-selection{
        height: auto;
        margin-top: 20px;

        .btn, .tag-space-ingredient, .tagAll, .tagClick{
            padding: 0; 
            margin: 0; 
        }

        .txt{
            width: 80px;
            font-size: large;
        }

        .items{
            padding: 10px;
            font-size:medium;
        }

        .btn{
            height: auto;
            width: 200px;
            background-color: white;
            margin-right: 30px;
            text-align: left;
        }

        .tag-space-ingredient{
        width: 200px;
        height: auto;
        background-color: white;
        }

        .tagAll{
            display: flex;
            flex-direction: column;
        }

        .tag{
            text-wrap: wrap;
            text-align: -webkit-auto;
            list-style-type: none;
        }
        .tagClick{
            background-color: $yellow;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 200px;
            border-radius: 5px;
            padding-left: 5px;
            height: 40px;
            margin-top: 20px;
                .fa-times-circle{
                 margin-right: 10px;
                }
        }

        .chevron-space{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .chevron {
            width: 20px;
            
        }

        .space{
            border-color: $gray;
        }

        li{
            list-style-type: none;
            padding-left: 0;     
            margin-bottom: 5px;
        }

        li:hover{
            background-color: #FFD15B;
            margin: 0;
        }

        .li-click{
            display: flex;

        }


    .new-item-btn{
        display: flex;
        margin-right: 20px;
        border: 1px solid #FFD15B;
        border-radius: 10%;
        background-color: #FFD15B;
        padding: 10px;
        width: 180px;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    }

    .col{
        padding: 10px;
    }
    

    .recipe-space{
        background-color: white;
        height: 1000px;
        border-radius: 20px;
        }

        .img-div{
            width:100%;
            height: 300px;
        }
        .recipe-title{
            font-family: "Anton";
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .time-recipe{
            position: absolute;
            width: 60px;
            background-color: $yellow;
            border-radius: 10px;
            text-align-last: center;
            top:20px;
            right: 40px;
            font-size: small;
            }

        .recipe-img-style{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .recipeMargin{
            margin: 20px;
        }
    }

    .state-recipe, .ingredient-title{
        color: grey;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 17px;
    }

    .description-txt{
        font-size: 15px;
        height: 300px;
    }

    .ingredientsArray{
        display: flex;
        flex-wrap: wrap;

        .elements{
            width: 50%;
            box-sizing: border-box;
            padding: 5px;

            .underElement{
                color:grey;
                font-size: smaller;
            }
    }

    .text-color{
        background-color: #FFD15B;
    }

    }
    
.tag-item{
    display: flex;
    align-items: center;
}
.fa-times-circle{
    margin-left: 10px;
}

.error-message{
    width: 100%;
    text-align: center;
    padding-top: 80px;
    font-weight: 200;
}

.flex-menu{
    display: flex;
    place-content: space-around;
    align-items: end;
}

#counter{
    font-weight: 500;
    font-family: "Anton";
}