body {
  background-color: rgba(128, 128, 128, 0.3254901961);
}

#container-header {
  width: 100%;
  height: auto;
}
#container-header .background-image {
  background-image: url("../../assets/logo/backgroundImg.jpeg"); /* Remplace 'chemin/vers/ton/image.jpg' par le chemin de ton image */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}
#container-header .background-image .img-fluid {
  width: 200px;
  margin: 50px;
}
#container-header #txt-header {
  color: #FFD15B;
  width: 60%;
  font-size: 40px;
  word-wrap: break-word;
}
#container-header #flex-header-txt {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 250px;
  justify-content: space-around;
}
#container-header .form-control {
  width: 1000px;
}
#container-header #search {
  display: flex;
}
#container-header .fas {
  position: absolute;
  transform: translateX(-100%);
  font-size: x-large;
  align-self: center;
  right: 200px;
}

#container-header::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.3254901961);
}

.container {
  height: auto;
}
.container #button-selection {
  height: auto;
  margin-top: 20px;
}
.container #button-selection .btn, .container #button-selection .tag-space-ingredient, .container #button-selection .tagAll, .container #button-selection .tagClick {
  padding: 0;
  margin: 0;
}
.container #button-selection .txt {
  width: 80px;
  font-size: large;
}
.container #button-selection .items {
  padding: 10px;
  font-size: medium;
}
.container #button-selection .btn {
  height: auto;
  width: 200px;
  background-color: white;
  margin-right: 30px;
  text-align: left;
}
.container #button-selection .tag-space-ingredient {
  width: 200px;
  height: auto;
  background-color: white;
}
.container #button-selection .tagAll {
  display: flex;
  flex-direction: column;
}
.container #button-selection .tag {
  text-wrap: wrap;
  text-align: -webkit-auto;
  list-style-type: none;
}
.container #button-selection .tagClick {
  background-color: #FFD15B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border-radius: 5px;
  padding-left: 5px;
  height: 40px;
  margin-top: 20px;
}
.container #button-selection .tagClick .fa-times-circle {
  margin-right: 10px;
}
.container #button-selection .chevron-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container #button-selection .chevron {
  width: 20px;
}
.container #button-selection .space {
  border-color: rgba(128, 128, 128, 0.3254901961);
}
.container #button-selection li {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 5px;
}
.container #button-selection li:hover {
  background-color: #FFD15B;
  margin: 0;
}
.container #button-selection .li-click {
  display: flex;
}
.container #button-selection .new-item-btn {
  display: flex;
  margin-right: 20px;
  border: 1px solid #FFD15B;
  border-radius: 10%;
  background-color: #FFD15B;
  padding: 10px;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.container .col {
  padding: 10px;
}
.container .recipe-space {
  background-color: white;
  height: 1000px;
  border-radius: 20px;
}
.container .img-div {
  width: 100%;
  height: 300px;
}
.container .recipe-title {
  font-family: "Anton";
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .time-recipe {
  position: absolute;
  width: 60px;
  background-color: #FFD15B;
  border-radius: 10px;
  text-align-last: center;
  top: 20px;
  right: 40px;
  font-size: small;
}
.container .recipe-img-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container .recipeMargin {
  margin: 20px;
}

.state-recipe, .ingredient-title {
  color: grey;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 17px;
}

.description-txt {
  font-size: 15px;
  height: 300px;
}

.ingredientsArray {
  display: flex;
  flex-wrap: wrap;
}
.ingredientsArray .elements {
  width: 50%;
  box-sizing: border-box;
  padding: 5px;
}
.ingredientsArray .elements .underElement {
  color: grey;
  font-size: smaller;
}
.ingredientsArray .text-color {
  background-color: #FFD15B;
}

.tag-item {
  display: flex;
  align-items: center;
}

.fa-times-circle {
  margin-left: 10px;
}

.error-message {
  width: 100%;
  text-align: center;
  padding-top: 80px;
  font-weight: 200;
}

.flex-menu {
  display: flex;
  place-content: space-around;
  align-items: end;
}

#counter {
  font-weight: 500;
  font-family: "Anton";
}

/*# sourceMappingURL=main.css.map */
